body{
   background-color: rgb(167, 8, 8)
}

p{
   color: rgb(255, 255, 255);
}

.Kaio{
   font-style: oblique;
}
.La{
width: 70%;
justify-content: center;
margin:0 auto
 }
h1{
   font-size: 40px;
   padding: 2px;
   margin-top: 5px;
}
header{
   border-bottom: solid 2px rgb(167, 8, 8);
   padding: 10px;
   font-size: 20px;
}
.p {
   font-size: 20px;
 }
 section {
   padding-bottom: 20px;
   padding-top:20px;
   display: flex;
   justify-content: center;
 }
 .carros{
  background-size: 20px;
  background-color: white;
  border: 1px solid #css
  border-radius: 5px;
  box-shadow: 2px 2px 5px
rgba(0,0,0,0.1)
  margin; 10px;
  padding: 0 auto;
  width: 0 auto;
  text-align: center;
 }.